.idea
*.swp
cmake-build*
semantic_classes.json
debug
build
data/coloredGtPlanes*
data/debugEdgeFeatures*
data/testRot*
data/ptView*
data/testSplit_*
data/voxelOutput.json
data/voxelOutput.ply
data/debug_triangles.obj
.clion.source.upload.marker
data/00*json
/data/arrangement.ply
/data/segment.obj
/data/voxelFeatures.ply
/data/voxelOutput.h5
/data/voxelOutputRichFeat.h5
compile_commands.json
/data/implicitChunk/
